    <!-- Loading Screen -->
    <div id="loading-screen" class="loading-screen" style="background-color: var(--background-color, #FFF5E6);">
        <div class="loading-folder loading-folder--nandi">
            <div class="loading-folder-layout">
                <div class="loading-folder-left">
                    <div class="loading-folder__icon" aria-hidden="true">
                        <div class="loading-folder__back"></div>
                        <div class="loading-folder__tab"></div>
                        <div class="loading-folder__front"></div>
                        <div class="loading-folder__paper loading-folder__paper--1"></div>
                    <div class="loading-folder__paper loading-folder__paper--2"></div>
                    </div>
                    <p class="loading-text">Organizing your tasks...</p>
                </div>
                <div class="loading-folder-right">
                    <ul id="loading-active-tasks" class="loading-folder__tasks"></ul>
                </div>
            </div>
        </div>
    </div>
