    <div class="modal" id="strike-report-history-modal">
        <div class="modal-content strike-report-history-modal-content">
            <div class="modal-header">
                <h3><i class="fas fa-clipboard-list"></i> Strike Report History</h3>
                <button class="modal-close" id="close-strike-report-history-modal">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body strike-report-history-modal-body">
                <div id="strike-report-history-content"></div>
            </div>
        </div>
    </div>
